.App {
  text-align: center;
}

.progressBar {
  width: 100%;
}

.editModeBar {
  overflow: hidden;
  position: relative;
  height: 50px;
}

.editModeBar h1 {
  vertical-align: center;
  width: 200px;
  height: 50%;
  float: left;
  margin-left: 1%;
  font-size: 32px;
}

.editModeBar .btn-group {
  vertical-align: center;
  padding: 0;
  height: 80%;
}
