:root {
  --background: #efebe9;
  --primary: #A1887F;
  --text: #3a1f2b;
  --hover: #7f98a1;
}

.App {
  font-family: "Calibri", Times, sans-serif;
  color: var(--text);
  background-color: var(--background);
}

.header {
  padding-top: 10px;
  text-align: center;
}

.button {
  background-color: var(--primary);
  border-radius: 8px;
  color: var(--text);
}

.button:hover {
  background-color: var(--hover);
}

.btn-primary:not(:disabled):not(.disabled).active{
  background-color: var(--background);
  color: var(--text);
}

.progressBar {
  padding-bottom: 15px;
  width: 100%;
}

.editModeBar {
  overflow: hidden; 
  position: relative;
  height: 50px;
}

.editModeBar h1 {
  vertical-align: center;
  width: 200px;
  height: 50%;
  float: left;
  margin-left: 1%;
  font-size: 32px;
}

.MainGrid {
  padding: 20px;
}

.ButtonPanel {
  padding: 15px;
  padding-top: 20px;
}

.ButtonPanel-label {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 10px;
  opacity: 0.75;
}

/* Prevent MultiButton Popover from stealing MouseUp events */
div[role=presentation] {
  pointer-events: none;
}

.MuiPopover-paper {
  pointer-events: auto;
}

.Button-base {
  position: relative;
  background: #214fa5;
}

.MultiButton-main {
  position: relative;
  /* Distinguishes a multibutton from a regular soundbutton */
  background: linear-gradient(0deg, #ff7593 10%, #214fa5 10%);
}

.MultiButton-menu > div > ul {
  display: flex;
  flex-direction: row;
}
