:root {
  --background: #efebe9;
  --primary: #A1887F;
  --text: #3a1f2b;
  --hover: #7f98a1;
}

.App {
  font-family: "Calibri", Times, sans-serif;
  color: var(--text);
  background-color: var(--background);
  overflow-x: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.header {
  padding-top: 10px;
  text-align: center;
}

.button {
  background-color: var(--primary);
  border-radius: 8px;
  color: var(--text);
}

.button:hover {
  background-color: var(--hover);
}

.btn-primary:not(:disabled):not(.disabled).active{
  background-color: var(--background);
  color: var(--text);
}

.progressBar {
  padding-bottom: 15px;
  width: 100%;
}

.editModeBar {
  overflow: hidden; 
  position: relative;
  height: 50px;
}

.MainGrid {
  padding: 20px;
}

.ButtonPanel {
  padding: 15px;
  padding-top: 20px;
}

.ButtonPanel-label {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 10px;
  opacity: 0.75;
}

/* Prevent MultiButton Popover from stealing MouseUp events */
.MultiButton-gridItem > div[role=presentation] {
  pointer-events: none;
}

.MuiPopover-paper {
  pointer-events: auto;
}

.Button-base {
  position: relative;
  background: #214fa5;
  text-align: center;

  height: 26px;
  font-size: 14px !important;
  line-height: 1 !important;
}

.Button-base-small {
  height: 18px;
  font-size: 11px !important;
}

.Button-base-large {
  height: 30px;
  font-size: 18px !important;
}

.MultiButton-base {
  position: relative;
}

.MultiButton-regular {
  background: linear-gradient(0deg, #ff7593 10%, #214fa5 10%);
}

.MultiButton-concatenator {
  background: linear-gradient(0deg, #0dda2f 10%, #214fa5 10%);
}

.MultiButton-menu > div > ul {
  display: flex;
  flex-direction: row;
}

.SoundButton-random {
  background: linear-gradient(0deg, #fcec0d 10%, #214fa5 10%);
}

.SoundButtonGroup > .SoundButton {
  min-width: 5px;
}

.Footer-main {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#ffd684;
}

.Footer-grid {
  padding: 10px;
}
